.banner-container {
  margin-bottom: 4rem;
}
.banner-wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}
.banner-wrapper2 {
  display: grid;
  grid-template-columns: 2fr 2fr 5fr;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

@media screen and (max-width: 480px) {
}
