body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33 33 33 / var(--tw-bg-opacity));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0 !important;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
  color: #212121 !important;
}
a:hover {
  color: #212121;
}
.main {
  padding: 0 2rem;
}

.my-container {
  margin-bottom: 4rem;
}
h3 {
  line-height: 2.5rem !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  margin-bottom: 1.5rem !important;
}
.card {
  border-color: none !important;
}
